/* type selectors */

body {
    margin-top: 55px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 212, 133)
}


ul {
    justify-content: space-between;
    display: flex;
    gap: 8px;
    list-style-type: none;
}

/* header */

.header, .intro, .info, .quote {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    padding: 0px 8%;
    background: rgb(63, 63, 80);
    
    
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.header-logo {
    font-weight: bold;
}

.header-link {
    display: flex;
    gap: 20px;

    padding: 0px 20px;    
}

/* intro section */

.intro {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 10% 8%;

    background: rgb(45, 45, 85);
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(63, 63, 80);
}

.left > h1 {
    margin: 0;
    font-size: 65px;
}

.left > p {
    margin: 15px 0px 0px 0px;
}

.left > button {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: white;
}

/* info section */

.info {
    display: flex;
    flex-direction: column;

    padding: 1% 10%;
    background:rgb(255, 212, 133)
}

.info > h2 {
    font-size: 30px;
    align-self: center;
    margin-bottom: 3%;
    background: rgb(63, 63, 80);
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.image {
    background: rgb(63, 63, 80);
    
}

/* quote */

.quote {
    display: flex;
    flex-direction: column;

    padding: 5% 20%;
    background: rgb(45, 45, 85);
    
    
}

.quote :nth-child(1) {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

.quote :nth-child(2) {
    margin: 0;
    font-weight: bold;
    align-self: flex-end;
}

/* signup */


.signup {
    display: flex;  
    background:rgb(255, 212, 133);
    padding: 5% 15%;
}

.signup-container {
    flex: 1;
    background:rgb(51, 44, 79);
    display: flex;
    margin: 0;
    padding: 3%
}


.left2, .right2 {
    display: flex;
    flex-direction: column;

}

.left2, .right2 {
    flex: 1;
    justify-content: center;
}

.right2 {
    align-items: center;
}

.left2 > h3, .left2 > p {
    margin: 0;
}


.right2 > button {
    width: 200px;
    height: 100px;
}

/* footer */

.footer {
    color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 1% 20%;
    background:rgb(94, 94, 94)
}




